<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Test Automation" thread-count="5" parallel="tests">

 <parameter name="Url" value="http://demo.guru99.com/test/newtours/"/>
 <listeners>
 <listener class-name="com.qa.utility.Reporting"></listener>
 </listeners>

  <test thread-count="5" name="Test Chrome" parallel="classes">
  
  <parameter name="Browser" value="Chrome"/>
   <classes>
      <class name="com.qa.testscript.TC_001_MercuryloginPage"/>
    </classes>
  </test> <!-- Test -->
 </suite> <!-- Suite -->
